# Bu dosyayı .env olarak kopyalayın ve kendi API anahtarınızı yapıştırın.
# .env dosyası gitignore'da olduğu için GitHub'a yüklenmeyecektir.
# Vercel'de "Environment Variables" kısmına bu anahtarı eklemeyi unutmayın.

API_KEY=AIzaSyD_Sizin_Gizli_Api_Anahtariniz_Buraya